.top-nav {
  // margin-left: $sideBarWidth;
  //width: 100%;
  background-color: #4585ff;
  .log {
    padding: 0 55px 0 55px;
    line-height: 40px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #fff;
    float: left;
    font-weight: bolder;
  }
  .el-menu {
    float: left;
    border: none !important;
    background-color: #4585ff;
    .nav-item {
      display: inline-block;
      .el-menu-item {
        color: #fff;
        font-weight: bolder;
        &:hover {
          background-color: #004098 !important;
          color: #ffffff !important;
        }
        .el-menu-item.is-active{
          color: #4585ff!important;
          background-color: #335c9a !important;
        }
      }
    }
  }

  .right-menu {
    float: right;
    height: 100%;
    padding: 0 80px 0 0;

    &:focus {
      outline: none;
    }

    .right-menu-item {
      display: inline-block;
      padding: 0 8px;
      height: 100%;
      font-size: 18px;
      color: #5a5e66;
      vertical-align: text-bottom;

      &.hover-effect {
        cursor: pointer;
        transition: background 0.3s;

        &:hover {
          background: rgba(0, 0, 0, 0.025);
        }
      }
    }

    .avatar-container {
      margin-right: 30px;

      .avatar-wrapper {
        margin-top: 5px;
        position: relative;

        .user-avatar {
          cursor: pointer;
          width: 28px;
          height: 28px;
          border-radius: 10px;
        }

        .el-icon-caret-bottom {
          cursor: pointer;
          position: absolute;
          right: -20px;
          top: 18px;
          font-size: 12px;
        }
      }
    }
  }
}
